<a href="https://colab.research.google.com/github/sajal0323/DSDL-2022/blob/main/sajal_gupta_cse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt

In [54]:
df=pd.read_csv("heart.csv")

In [55]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [87]:
# label encoding

from sklearn.preprocessing import LabelEncoder

In [88]:
le = LabelEncoder()   # created a instance of label encoder

In [58]:
df.Sex = le.fit_transform(df.Sex)

In [59]:
df.ChestPainType = le.fit_transform(df.ChestPainType)
df.RestingECG = le.fit_transform(df.RestingECG)
df.ExerciseAngina = le.fit_transform(df.ExerciseAngina)
df.ST_Slope = le.fit_transform(df.ST_Slope)

In [60]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    int64
 2   ChestPainType   918 non-null    int64
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    int64
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    int64
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    int64
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 86.2 KB

In [62]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [82]:
df["HeartDisease"].value_counts()

1    508
0    410
Name: HeartDisease, dtype: int64

In [84]:
# training and testing the model

from sklearn.model_selection import train_test_split

In [108]:
 X = df.drop(columns="HeartDisease",axis=1)
 Y = df["HeartDisease"]

In [109]:
print(X)

     Age  Sex  ChestPainType  RestingBP  Cholesterol  FastingBS  RestingECG  \
0     40    1              1        140          289          0           1
1     49    0              2        160          180          0           1
2     37    1              1        130          283          0           2
3     48    0              0        138          214          0           1
4     54    1              2        150          195          0           1
..   ...  ...            ...        ...          ...        ...         ...
913   45    1              3        110          264          0           1
914   68    1              0        144          193          1           1
915   57    1              0        130          131          0           1
916   57    0              1        130          236          0           0
917   38    1              2        138          175          0           1

     MaxHR  ExerciseAngina  Oldpeak  ST_Slope
0      172               0      0.0         2
1      156               0      1.0         1
2       98               0      0.0         2
3      108               1      1.5         1
4      122               0      0.0         2
..     ...             ...      ...       ...
913    132               0      1.2         1
914    141               0      3.4         1
915    115               1      1.2         1
916    174               0      0.0         1
917    173               0      0.0         2

[918 rows x 11 columns]

In [110]:
X_train , X_test , Y_train , Y_test= train_test_split(X, Y, test_size = 0.2 ,random_state= 42)

In [111]:
print(X.shape, X_train.shape, X_test.shape)

(918, 11) (734, 11) (184, 11)

In [85]:
# applying logistic regression

from sklearn.linear_model  import LogisticRegression

In [71]:
model = LogisticRegression()

In [72]:
model.fit(X_train, Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
test_pred = model.predict(X_test)

In [86]:
# finding accuracy

from sklearn.metrics import accuracy_score , mean_squared_error

In [96]:
print(mean_squared_error(Y_test,test_pred))
print(accuracy_score(Y_test,test_pred))

0.15760869565217392
0.842391304347826

In [89]:
# decision tree algorithim

from sklearn.tree import DecisionTreeClassifier

In [93]:
model = DecisionTreeClassifier()
model.fit(X_train,Y_train)

dtree_pred = model.predict(X_test)
print(mean_squared_error(Y_test,dtree_pred))
print(accuracy_score(Y_test,dtree_pred))

0.18478260869565216
0.8152173913043478

In [94]:
# random forest classifier

from sklearn.ensemble import RandomForestClassifier

In [95]:
model = RandomForestClassifier()
model.fit(X_train,Y_train)

Rforest_pred = model.predict(X_test)
print(mean_squared_error(Y_test,Rforest_pred))
print(accuracy_score(Y_test,Rforest_pred))

0.13043478260869565
0.8695652173913043

In [97]:
# applying svm

from sklearn.svm import SVC

In [105]:

model.fit(X_train,Y_train)

svm_pred = model.predict(X_test)
print(mean_squared_error(Y_test,svm_pred))
print(accuracy_score(Y_test,svm_pred))

0.10869565217391304
0.8913043478260869